header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 2rem;
}
.avatar{
    width: 1.8rem;
    margin-right: .5rem;
}