<nav class="sidemenu">
    <div class="sidemenu__link" routerLink="/clients" routerLinkActive="active-link">
      <img src="./assets/imagens/user-white.png" alt="" class="sidemenu__icon">
      Clientes
    </div>
    <div class="sidemenu__link" routerLink="/products" routerLinkActive="active-link">
      <img src="./assets/imagens/packet.png" alt="" class="sidemenu__icon">
      Produtos
    </div>
    <div class="sidemenu__link" routerLink="/sales"  routerLinkActive="active-link">
      <img src="./assets/imagens/order.png" alt="" class="sidemenu__icon">
      Pedidos
    </div>
    <div class="sidemenu__link" routerLink="/login"  routerLinkActive="active-link" (click)="logout()">
      <img src="./assets/imagens/logout.png" alt="" class="sidemenu__icon">
      Sair
    </div>
</nav>
