@import '../../../../assets/scss/main';
.sidemenu{
    min-width: 13rem;
    background-color: #262d3b;
    min-height: 100vh;
    height: 100%;
    padding: 5rem 0;

    &__link{
        width: 100%;
        padding: 1.5rem 1rem;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        font-size: 1rem;
        transition: all .2s ease;

        &:hover{
            background-color: rgb(249 249 249 / 30%);
            transition: all .2s ease;
        }
    }

    &__icon{
        width: 1.3rem;
        margin-right: 1rem;
    }

}


.active-link{
    background-color: rgb(249 249 249 / 30%); 
}