<div class="container">
    <button  class="btn__back" routerLink="/sales/list">voltar</button>
    <div class="wrapper">
        <div class="detail__header">
            <div class="detail__header--name">{{sale.clientName}}</div>
            <div class="detail__header--box">
                <div class="detail__header--cod">#{{sale.cod}}</div>
                <div class="detail__header--date">06/12/2021 - 10:00</div>
            </div>
        </div>

        <div class="detail__content--header">
            <div class="detail__content--item custom">#</div>
            <div class="detail__content--item custom">Produto</div>
            <div class="detail__content--item custom">Valor</div>
        </div>
        <div class="detail__content" *ngFor="let item of products">
            <div class="detail__content--item">1</div>
            <div class="detail__content--item">{{item.name}}</div>
            <div class="detail__content--item">{{item.value | currency : 'BRL'}}</div>
        </div>
        <div class="detail__total">
           <h6>Total</h6> {{sale.total | currency : 'BRL' }}
        </div>
    </div>

</div>
