<div class="container">
   
    <div class="wrapper">
        <h3>Login</h3>

        <form action="" class="form">
            <div class="coluna-12">
                <label class="form__label d-block">Email</label>
                <input type="text" class="form__field">
            </div>
            <div class="coluna-12">
                <label class="form__label d-block">Senha</label>
                <input type="text" class="form__field">
            </div>

            <button class="btn__save" routerLink="/clients/list">Salvar</button>
        </form>
    </div>
</div>
